<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
</head>
<body>
<form th:action="@{/events/create}" method="post" th:object="${createEventModel}">
    <label>Name</label>
    <input type="text" id="name" name="name"/>
    <label>Description</label>
    <input type="text" id="description" name="description" />
    <label>Date</label>
    <input type="date" id="date" name="date" th:value="${#dates.createNow()}" />
    <label>Price</label>
    <input type="number" id="price" name="price" />
    <label>Venue</label>
    <select th:field="*{venue}" name="venues">
        <option th:each="venue : ${venues}"
                th:value="${{venue.id}}"
                th:text="${{venue.name}}" />
    </select>
    <br />

    <button type="submit">Create</button>
</form>
</body>
</html>