<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
</head>
<body>
    <div th:text="${event.name}"></div>
    <div th:text="${event.description}"></div>
    <div th:text="${event.imageUrl}"></div>
    <div th:text="${event.date}"></div>
    <div th:text="${event.price}"></div>
    <a th:href="@{'/venues/' + ${event.venueId}}"><span th:text="${event.venueName}"></span></a>
    <div th:text="${event.description}"></div>
    <div>
    Sold: <span th:text="${event.ticketsSold}"></span> <br />
    Capacity: <span th:text="${event.venueCapacity}"></span>
    </div>
    <th:block th:if="${event.ticketsSold >= event.venueCapacity}">
        Sold out!
    </th:block>
    <th:block th:unless="${event.ticketsSold >= event.venueCapacity}">
        <a th:href="@{'/tickets/buy/' + ${event.id}}">Buy ticket!</a>
    </th:block>
</body>
</html>